<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container" id="background">
          <header></header>
        </div>

        <div class="container" id="interactive-box">
            <!-- BOX LEFT -->
            <div class="box left">
                <div class="user-data">
                    <div class="image-profile">
                        <img src="img/avatar_io.jpg" >
                        <p>Sofia</p>
                    </div>
                
                    <div class="icon-data">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- USER TOOLS NOTIFICATION BAR-->
                <div class="user-tools">
                    <div class="notifications">
                        <div class="icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="text">
                            <h5>   Ricevi notifiche di nuovi messaggi </h5>
                            <a class="link" href="#">Attiva notifiche desktop </a>
                        </div>
                    </div>
                  </div>
                    <!-- USER TOOLS SEARCH CHATBOX -->
                  <div class="user-tools-search">
                    <div class="search-chat">
                        <div class="icon-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="search-bar">
                            <input type="text" id="search" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                  </div>
                  <!-- LIST CONTACT -->
                  <div class="contacts">
                    <div class="contact" v-for="(contact, index) in contacts" @click="showMessages(index)">
                        <div class="image-profile">
                            <img :src="`img/avatar${contact.avatar}.jpg`" alt="{{contact.name}}">
                        </div>
                        <div class="user-info">
                            <h6>{{contact.name}}</h6>
                            <p>Ultimo messaggio inviato</p>
                        </div>
                        <div class="date">
                            <p>12.00</p>
                        </div>
                    </div>
                  </div>    
            </div>
               <!-- BOX RIGHT -->
            <div class="box right">
                <div class="user-data">
                    <div class="user-chatBox">
                        <!--IMAGE PROFILE CHAT SCREEM-->
                        <div class="image-profile">
                           <img src="img/avatar_1.jpg" alt="">
                        </div>
                        <!-- USER INFO IN  CHAT BOX HEADER -->
                        <div class="user-info">
                           <h6>Michele</h6>
                           <p>Ultimo messaggio inviato oggi alle 12.00</p>
                        </div>
                    </div>
                    <!-- ICON HEADER CHAT SCREEN-->
                    <div class="icon-data">
                       <i class="fa-solid fa-search"></i>
                       <i class="fa-solid fa-paperclip"></i>
                       <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- START WINDOW CHAT-->
                <div class="chat-screen">
                    <div class="messages" v-for="(message, index) in contacts[active].messages">
                        <p class="message" :class="{ sent: message.status === 'sent', received: message.status === 'received' }">
                             {{ message.message}}  
                        </p>
                    </div>
                </div>
                
                <!-- FOOTER CHAT SCREEN-->
                <div class="chat-text">
                    <div class="icon smile">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <!-- INPUT FOR MESSAGE-->
                    <div class="input-text">
                        <input type="text" placeholder="Scrivi un messaggio">
                    </div>
                    <!-- VOCAL MESSAGE-->
                    <div class="icon vocal-message">
                        <i class="fa-solid fa-microphone-lines"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/contacts.js"></script>
</body>
</html>